<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Our Team</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    <link rel="icon" href="{{ url_for('static',filename='logobrowser.png')}}">
    <script src="https://kit.fontawesome.com/40b8ba8176.js" crossorigin="anonymous"></script>
    <script src="https://cdn.tailwindcss.com"></script>
    <style>
        body {
            font-family: 'Poppins', sans-serif;
        }
    </style>
</head>
<body class="bg-black text-white">
    <div class="flex flex-col items-center justify-center min-h-screen">
        <span class="text-5xl mb-12 z-2">Our Team</span>
        
        <div class="flex flex-wrap justify-center items-center w-full space-y-6 lg:space-y-0 lg:space-x-6">
            <div class="bg-purple-700 w-80 h-96 m-4 border-4 border-white rounded-lg flex flex-col items-center text-white  transition-all duration-500">
                <img src="static/Arhaan_Bhiwandkar.jpeg" alt="Arhaan Bhiwandkar" class="mt-8 mb-4 h-44 w-44 rounded-full">
                <h2 class="text-xl">Arhaan Bhiwandkar</h2>
                <div class="flex mt-4">
                    <a href="https://www.linkedin.com/in/arhaan-bhiwandkar-583aaa233" target="_blank" class="text-white  transition-all duration-500"><i class="fa fa-linkedin-square text-3xl px-4"></i></a>
                    <a href="https://github.com/ArhaanB24" target="_blank" class="text-white  transition-all duration-500"><i class="fa fa-github-square text-3xl px-4"></i></a>
                </div>
            </div>

            <div class="bg-purple-700 w-80 h-96 m-4 border-4 border-white rounded-lg flex flex-col items-center text-white  transition-all duration-500">
                <img src="static/Arya_Chawan.png" alt="Arya Chawan" class="mt-8 mb-4 h-44 w-44 rounded-full">
                <h2 class="text-xl">Arya Chawan</h2>
                <div class="flex mt-4">
                    <a href="https://www.linkedin.com/in/arya-chawan-99b127303/" target="_blank" class="text-white  transition-all duration-500"><i class="fa fa-linkedin-square text-3xl px-4"></i></a>
                    <a href="https://github.com/aryachawan" target="_blank" class="text-white  transition-all duration-500"><i class="fa fa-github-square text-3xl px-4"></i></a>
                </div>
            </div>

            <div class="bg-purple-700 w-80 h-96 m-4 border-4 border-white rounded-lg flex flex-col items-center text-white  transition-all duration-500">
                <img src="static/Sharvil_Gharkar.jpg" alt="Sharvil Gharkar" class="mt-8 mb-4 h-44 w-44 rounded-full">
                <h2 class="text-xl">Sharvil Gharkar</h2>
                <div class="flex mt-4">
                    <a href="https://www.linkedin.com/in/sharvil-gharkar-16767b2b5/" target="_blank" class="text-white  transition-all duration-500"><i class="fa fa-linkedin-square text-3xl px-4"></i></a>
                    <a href="https://github.com/Sharvil0769" target="_blank" class="text-white  transition-all duration-500"><i class="fa fa-github-square text-3xl px-4"></i></a>
                </div>
            </div>

            <div class="bg-purple-700 w-80 h-96 m-4 border-4 border-white rounded-lg flex flex-col items-center text-white  transition-all duration-500">
                <img src="static/Bevin_Johnson.jpeg" alt="Bevin Johnson" class="mt-8 mb-4 h-44 w-44 rounded-full">
                <h2 class="text-xl">Bevin Johnson</h2>
                <div class="flex mt-4">
                    <a href="https://www.linkedin.com/in/bevinjhsn" target="_blank" class="text-white  transition-all duration-500"><i class="fa fa-linkedin-square text-3xl px-4"></i></a>
                    <a href="https://github.com/BevinJ" target="_blank" class="text-white  transition-all duration-500"><i class="fa fa-github-square text-3xl px-4"></i></a>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
